.discord {
    padding-top: 20px;
}

.discord__title {
    text-align: center;
    color: var(--text-color-light);
    text-decoration: underline;
    text-decoration-color: var(--purple-color);
    text-decoration-thickness: 3px;
    text-underline-offset: -7px;
    text-underline-position: under;
    animation: text-reveal-bottom 3s;
}

.discord-rules__title {
    text-align: center;
    color: var(--text-color-light);
    padding-top: 20px;
}

.discord-rules__list {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 15px;
}

.discord-rules__list li::marker {
    color: var(--purple-color);
    font-size: 35px;
}