@import './variables.scss';

.discord {
    padding-top: 20px;

    &__title {
        text-align: center;
        color: $text-color-dark;
        text-decoration: underline;
        text-decoration-color: $purple-color;
        text-decoration-thickness: 3px;
        text-underline-offset: -7px;
        text-underline-position: under;
        animation: text-reveal-bottom 3s;
    }
}

.discord-rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        text-align: center;
        color: $text-color-light;
        padding-top: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style-type: disc;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        padding-left: 400px;
        padding-right: 400px;
        padding-top: 15px;
    }

    li {
        &::marker {
            color: $purple-color;
            font-size: 35px;
        }
    }
}