.members__title {
    text-align: center;
    color: var(--text-color-light);
    text-decoration: underline;
    text-decoration-color: var(--purple-color);
    text-decoration-thickness: 3px;
    text-underline-offset: -7px;
    text-underline-position: under;
    animation: text-reveal-bottom 3s;
}

.members__list {
    padding: 15px 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}